@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #F2F2F2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-wedding-bg: #111111;        /* Fondo casi negro */
  --color-wedding-sage: #A68A64;      /* Oro viejo / Bronce */
  --color-wedding-sageDark: #806745;  /* Bronce oscuro para botones */
  --color-wedding-gold: #D4AF37;      /* Dorado brillante para detalles */
  --color-wedding-text: #F2F2F2;      /* Blanco roto para el texto */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
